<!DOCTYPE html>
<html>
<head>
    <title>About | Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <main>
        {{>header}}
        <p>This site uses data from mapbox.com and darksky.net .</p>
        <img class='portrait' src='{{creatorPictureUrl}}' alt='{{creatorPictureAltText}}''>
    </main>

    {{>footer}}
</body>
</html>