<!DOCTYPE html>
<html>
<head>
    <title>Help | Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <main>
        {{>header}}
        <p1>{{helpText}}</p1>
    </main>

    {{>footer}}
</body>
</html>